
// src/scss/components/_category-navigation.scss
@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as vars; 


.category-nav {
  background: vars.$white-color;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 18px 0;
  width: 200px;
  margin: 0 0 24px 24px;
}

.category-nav h3 {
  font-size: 16px;
  color: vars.$black-color;
  font-weight: 600;
  margin: 0 0 18px 24px;
  padding: 0;
}

.category-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-item {
 @include mixins.flex(space-between, center);

  font-size: 14px;
  color: vars.$text-color;
  padding: 8px 24px;
  border-radius: 8px;
  margin: 0 8px 6px 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;

  .icon {
    margin-right: 10px;
    font-size: 16px;
  }

  .plus-sign {
    color: vars.$br-color;
    font-size: 18px;
    margin-left: 12px;
    transition: color 0.2s;
  }

 &:hover {
  @include mixins.hover-color(vars.$diff-color);

    color: vars.$white-color;

    .plus-sign {
      color: vars.$white-color;
    }
  }
}
