@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;


.new-products {
 h3{
  margin-left:-1%;
  margin-top: -1%;
  border-bottom: 0.5px solid vars.$bg-divider; 
  padding-bottom: 5px;        
  margin-bottom: 15px;    
 font-size: 18px;      }
 
}

.new-products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px;
  padding: 0;
  list-style: none;
  margin-left: -3%;
}

@media (max-width: 768px) {
  .new-products-list {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .new-products-list {
    grid-template-columns: 1fr;
  }
}

.new-product-item {
  @include mixins.flex(column, center);
  border: 1px solid vars.$border-color;
  padding: 10px;
  background-color: vars.$white-color;
  border-radius: 8px;
  width: 90%;

  height: 250px;
}

.new-product-item img {
  border-radius: 4px;
  margin-bottom: 8px;
}

.info .name {
  font-weight: bold;
  margin-bottom: 5px;
  color: vars.$black-color;
}

.info .price {
  color: vars.$diff-color;
  font-weight: bold;
}

.price {
  display: flex;
  gap: 6px;
  align-items: center;
}

.original-price {
  text-decoration: line-through;
  color: vars.$text-light;
  font-size: 0.85rem;
}

.current-price {
  color: vars.$diff-color;
  font-weight: bold;
  font-size: 0.9rem;
}

