$text-color: #444;
$muted-color: #888;
$diff-color: #ff6f61;
$bg-light: #fff;
$bg-divider: #e6e5e5;



$red-color: #f44336;
$text-light: #777;
$border-color: #eee;
$modal-bg: rgba(0, 0, 0, 0.7);
$font-family: sans-serif;
$white-color: #fff;
