$text-color: #444;
$muted-color: #888;
$diff-color: #ff6f61;
$bg-light: #fff;
$bg-divider: #e6e5e5;
$primary-color: #ff6f61;


$red-color: #f44336;
$text-light: #777;
$border-color: #eee;
$modal-bg: rgba(0, 0, 0, 0.7);
$font-family: sans-serif;
$white-color: #fff;
$gray-color: #aaa;
$bg-color: #f7f7f7;
$bg-footer: #222;
$br-color: #bbb;
$black-color: #222;
$rating-color: #f7b500;
