.page-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 10px;
  padding: 10px;
  background-color: #f7f7f7;
}


header {
  grid-area: header;
  background: none;
  padding: 10px;
  color: white;
}

aside {
  grid-area: sidebar;
  background-color: #ddd;
  padding: 10px;
}

main {
  grid-area: main;
  background-color: white;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
}
