@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.page-layout {
  display: grid;
  grid-template-columns: 22rem 1fr;
  gap: 1.25rem;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

aside {
  background-color: vars.$bg-light;
  max-width: 13.75rem;
  margin-top: 7.5rem;
  @media (max-width: 900px) {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

main {
  @include mixins.main-area(vars.$white-color, 10px);
  padding-top: 6.25rem;
  @media (max-width: 900px) {
    padding-top: 40px;
  }
}

footer {
  @include mixins.footer-area;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
