@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.page-layout {

  @include mixins.grid-layout;
 
}

aside {
    padding-top: 80px;

  grid-area: sidebar;
  background-color: vars.$bg-light;
  border-radius: 12px;
  padding: 18px 14px;
  margin-top: 18px;
  margin-bottom: 18px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  width: fit-content;
  min-width: unset;
  max-width: 220px;
  height: fit-content;
  align-self: flex-start;
    margin-top: 100px;

}
main {
 @include mixins.main-area(vars.$white-color, 10px);
  padding-top: 100px;
}
footer {
 @include mixins.footer-area;
}
