@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixins;

.page-layout {

  @include mixins.grid-layout;
 
}

aside {
   
  background-color: vars.$bg-light;

  max-width: 220px;

    margin-top: 120px;

}
main {
 @include mixins.main-area(vars.$white-color, 10px);
  padding-top: 100px;
}
footer {
 @include mixins.footer-area;
}








.page-layout {
  display: grid;
  grid-template-columns: 400px 1fr;   
  gap: 20px;

}



.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
